body{
    font-family: Arial, sans-serif;
    background: black;  
}

.main-container{
    margin: 20px;
    background: white;
    padding: 15px;
    border-radius: 8px;

}

h1{
    text-align: center;
}

form{
    display: flex;
    gap: 20px;
}
form input, form select{

    width: 25%;
    padding: 8px;

}

ul{
    list-style: none;
}

li{
    padding: 12px;
    border-bottom: 1px solid black;

}

.income{

    color: green;

}

.expense{

    color: red;
}

button{
  
    border-radius: 13px;
    border: none;
    background-color: black;
    color: white;
    padding: 15px 50px;
}
