*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2b2b45);
}

.main-container{
    margin: 20px;
    background: white;
    padding: 25px;
    border-radius: 10px;

}

h1{
    text-align: center;
    margin-bottom: 25px;
    color: white;
    background-color: cadetblue;
}

.balance-container{

    background: #8acece;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.balance-container h2{
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.balance{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.income-expense-container{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 80px;

}

.income-expense-container div{

    width: 25%;
    padding: 10px;
    border-radius: 8px;
    text-align: center;

}

.income-expense-container .income{
    background: rgb(230, 255, 243);
    color: green;
}
.income-expense-container .expense{
    background: rgb(255, 236, 236);
    color: red;
}

.income-expense-container h3{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

form{

    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

form input, form select{

    padding: 10px;
    border-radius: 6px;
    border: 1px solid  #2b2b45;
    font-size: 14px;

}

button{
  
    border-radius: 12px;
    border: none;
    background-color: #5ac5b9;
    color: white;
    padding: 15px 18px;
    cursor: pointer;

}


ul{
    list-style: none;
    padding: 10px;
}

li{
    background: #89e2d8;
    margin-bottom: 10px;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border-left: 5px solid;

}

li.income{

    color: green;

}

li.expense{

    color: red;
}
