*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2b2b45);
}

.main-container{
    margin: 20px;
    background: white;
    padding: 25px;
    border-radius: 10px;

}

h1{
    text-align: center;
    margin-bottom: 25px;
    color: white;
    /* background-color: cadetblue; */
}

.balance-container{

    background: #8acece;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.balance-container h2{
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.balance{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.income-expense-container{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 80px;

}

.income-expense-container div{

    width: 25%;
    padding: 10px;
    border-radius: 8px;
    text-align: center;

}

.income-expense-container .income{
    background: rgb(230, 255, 243);
    color: green;
}
.income-expense-container .expense{
    background: rgb(255, 236, 236);
    color: red;
}

.income-expense-container h3{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

form{

    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

form input, form select{

    padding: 10px;
    border-radius: 6px;
    border: 1px solid  #2b2b45;
    font-size: 14px;

}

button{
  
    border-radius: 12px;
    border: none;
    background-color: #5ac5b9;
    color: white;
    padding: 15px 18px;
    cursor: pointer;

}


ul{
    list-style: none;
    padding: 10px;
}

li{
    background: #89e2d8;
    margin-bottom: 10px;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border-left: 5px solid;

}

li.income{

    color: green;

}

li.expense{

    color: red;
}


.welcome-container{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c5364;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome-card{

    background: white;
    padding: 40px 50px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease;

}

.welcome-card h1{

    font-size: 45px;
    margin-bottom: 15px;
    color: #2c5364;
}

.welcome-card p{
    font-size: 15px;
    color: black;
    margin-bottom: 30px;
    font-weight: 500;

}

.welcome-card button{

    padding: 12px 30px;
    font-size: 20px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    background: #2c5364;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.welcome-card button:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #256986;
}

@keyframes fadeIn{
  from{

    opacity: 0;
    transform: translateY(20px);

  }
  to{

    opacity: 1;
    transform: translateY(0);
  }
}


.loading-container{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2c5364;
    color: white;
    gap: 10px;

}

.loader{

    width: 58px;
    height: 58px;
    border: 6px solid white;
    border-top: 5px solid #3183a7;
    border-radius: 50%;
    margin-bottom: 19px;
}

.loading-container h2{
     
    font-weight: 500;
    letter-spacing: 1px;
}