*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, sans-serif;
    background: #2c5364;
}

.main-container{

    padding: 20px 20px;
    margin: auto;
    max-width: 1200px;

}

h1{
    text-align: center;
    margin-bottom: 25px;
    color: white;
}

.balance-container{

    border: 1px solid white;
    padding: 30px;
    border-radius: 18px;
    margin-bottom: 30px;
    box-shadow: 0 10px 25px #00000033;
}

.balance-container h2{

    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
    
}

.balance{

    font-size: 28px;
    font-weight: bold;
    text-align: center;

}

.income-expense-container{

    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 25px;
    gap: 20px;

}

.income-expense-container div{

    flex: 1;
    padding: 18px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);

}

.income-expense-container .income{
    background: #e9fff6;
    color: #008000;
}
.income-expense-container .expense{
    background: #ffecec;
    color: #ff0000;
}

.income-expense-container h3{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.filter-container{

    display: flex;
    gap: 25px;
    margin: 25px 0;

}

.filter-container label{

    font-weight: bold;
    color: white;

}

.filter-container select{

    padding: 10px 14px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-left: 7px;
}


.transaction-form-btn{

    position: fixed;
    top: 25px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    border: none;
    cursor: pointer;
    background: #2c5364;
    color: white;

}


.transaction-form{

    position: fixed;
    inset: 0;
    background: #0000008a;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

}

.transaction-form-card{

    background: white;
    padding: 25px;
    border-radius: 15px;

}

.transaction-form-card h2{

    text-align: center;
    margin-bottom: 19px;
    color: #2c5364;
    font-size: 30px;

}


/* 
.form{

    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

form input, form select{

    padding: 10px;
    border-radius: 6px;
    border: 1px solid  #2b2b45;
    font-size: 14px;

}

button{
  
    border-radius: 12px;
    border: none;
    background-color: #5ac5b9;
    color: white;
    padding: 15px 18px;
    cursor: pointer;

} */


ul{
    list-style: none;
    padding: 10px;
}

li{
    background: #89e2d8;
    margin-bottom: 10px;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border-left: 5px solid;

}

li.income{

    color: green;

}

li.expense{

    color: red;
}


.welcome-container{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c5364;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome-card{

    background: white;
    padding: 40px 50px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease;

}

.welcome-card h1{

    font-size: 45px;
    margin-bottom: 15px;
    color: #2c5364;
}

.welcome-card p{
    font-size: 15px;
    color: black;
    margin-bottom: 30px;
    font-weight: 500;

}

.welcome-card button{

    padding: 12px 30px;
    font-size: 20px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    background: #2c5364;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.welcome-card button:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #256986;
}

@keyframes fadeIn{
  from{

    opacity: 0;
    transform: translateY(20px);

  }
  to{

    opacity: 1;
    transform: translateY(0);
  }
}


.loading-container{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2c5364;
    color: white;
    flex-direction: column;

}

.loader{

    width: 58px;
    height: 58px;
    border: 6px solid white;
    border-top: 5px solid #3183a7;
    border-radius: 50%;
    margin-bottom: 15px;
    animation: spin 1s linear infinite;

}

.loading-container h2{
     
    font-weight: 500;
    letter-spacing: 1px;
}

@keyframes spin{

    from{

        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
  
}


.transaction-form-container{

    width: 100%;
}

.form{

    display: flex;
    flex-direction: column;
    gap: 15px;

}

.input-label{

    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-label label{

    font-size: 17px;
    font-weight: bold;
    color: #2c5364;

}

.input-label input, .input-label select{

    padding: 12px;
    border-radius: 10px;
    border: 2px solid #9b9898;
    font-size: 15px;

}

.input-label input:focus, .input-label select:focus{

    outline: none;
    border-color: #2c5364;

}

.type-category{

    display: flex;
    gap: 15px;
    margin-top: 12px;
}

.type-category label{

    font-size: 17px;
    font-weight: bold;
    color: #2c5364;
    margin-right: 8px;
}

.type-category select{

    padding: 12px;
    border-radius: 10px;
    border: 2px solid #9b9898;
    font-size: 15px;
    cursor: pointer;

}

.type-category select:focus{

    outline: none;
    border-color: #2c5364;

}

.transaction-add-btn{

    margin-top: 10px;
    padding: 14px;
    border-radius: 13px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background: #2c5364;
    color: white;
    cursor: pointer;
    width: 50%;

}


.chart-btn{

    padding: 15px 24px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 17px;
    border: none;
    background: #2c5364;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
    border: 1px solid white;

}


.transaction-add-btn:hover, .chart-btn:hover{

    transform: translateY(-2px);
    box-shadow: 0 10px 22px rgba(0,0,0,0.25);

}

.transaction-add-btn:active , .chart-btn:active{

    transform: scale(0.97);

}